name: API Tests

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Download collection
        run: aws s3 cp s3://mykb120011/generated_collection.json collection.json

      - name: Run tests
        run: |
          newman run collection.json \
            -r cli,htmlextra \
            --reporter-htmlextra-export report.html

      - name: Upload report
        run: aws s3 cp report.html s3://mykb120011/reports/report.html

